<article class="chirp">
    <div class="titlebar">
        <a href="#/user/:{{_acl.creator}}" class="chirp-author">{{author}}</a>
        {{#if (isMyChirp this)}}
            <a class="btn-delete-chirp" href="#/deleteChirp/:{{_id}}">delete</a>
        {{/if}}
        <span class="chirp-time">{{calcTime _kmd.ect}} ago</span>
    </div>
    <p>{{text}}</p>
</article>